.title-font {
    font-family: "Times New Roman", Times, serif;
}

.navbar-mast-color { 
    background-color: black; 
} 
/* Modify brand and text color */ 
  
.navbar-mast-text { 
    color: black; 
}