<nav class="navbar navbar-expand-md navbar-dark navbar-mast-color">
  <div class="container">
      <a class="navbar-brand">League of Chingones</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" >Home</a></li>
          <li class="nav-item"><a class="nav-link" >About</a></li>
          <li class="nav-item"><a class="nav-link" >Teams</a></li>
          <li class="nav-item"><a class="nav-link" >History</a></li>
      </ul>
  </div>
</nav>