<div class="homeContainer">
<div id="intro" class="view">
        <div class="logoContainer">
            <div class="logoWrapper"> 
                <img class="logo">
            </div>
        </div>
    </div>
    
    <div id="teams" class="teamContainer">
    
        <div class="row">

            <div class="cardContainer">
                <div class="card mb-3">
                    <img class="card-img-top lizard image">
                    <div class="card-img-overlay select">
                        <h5 class="card-title">Komodo Kings</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Visit Lizards</a>
                    </div>
                </div>
            </div>
    
            <div class="cardContainer">
                <div class="card mb-3">
                    <img class="card-img-top wookiee image">
                    <div class="card-img-overlay select">
                        <h5 class="card-title">Jabba Wookiees</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Visit Wookiees</a>
                    </div>
                </div>
            </div>
    
            <div class="cardContainer">
                <div class="card mb-3">
                    <img class="card-img-top pug image">
                    <div class="card-img-overlay select">
                        <h5 class="card-title">Thugs Pugs</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Visit Pugs</a>
                    </div>
                </div>
            </div>
    
            <div class="cardContainer">
                <div class="card mb-3">
                    <img class="card-img-top monkey image">
                    <div class="card-img-overlay select">
                        <h5 class="card-title">Happy Monkeys</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Visit Monkey</a>
                    </div>
                </div>
            </div>
    
            <div class="cardContainer">
                <div class="card mb-3">
                    <img class="card-img-top charlie image">
                    <div class="card-img-overlay select">
                        <h5 class="card-title">Gnarly Charlies</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Visit Charlie</a>
                    </div>
                </div>
            </div>
    
            <div class="cardContainer">
                <div class="card mb-3">
                    <img class="card-img-top lobster image">
                    <div class="card-img-overlay select">
                        <h5 class="card-title">LobsterMan</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Visit LobsterMan</a>
                    </div>
                </div>
            </div>
    
            <div class="cardContainer">
                <div class="card mb-3">
                    <img class="card-img-top roxy image">
                    <div class="card-img-overlay select">
                        <h5 class="card-title">Roxy</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Visit Roxys</a>
                    </div>
                </div>
            </div>
    
            <div class="cardContainer">
                <div class="card mb-3">
                    <img class="card-img-top chingon image">
                    <div class="card-img-overlay select">
                        <h5 class="card-title">Chingons</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Visit Chingons</a>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>
<div class="foot">
    <span></span>
</div>