.title-font {
    font-family: "Times New Roman", Times, serif;
}

.homeContainer {
    background-color: #ececf0;
}

.logoWrapper {
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.logo {
    content:  url('../../assets/team-pics/logo.png');
    width: 100%;
    height: 220px;
}

.teamContainer {
    margin-right: 10%;
    margin-left: 10%;
}

.cardContainer {
    padding: 30px 30px 30px 30px;
}

.image {
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.cardContainer:hover .image{
    opacity: 0.3;
}

.select {
    position: absolute;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.7);
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.select > h5 {
    margin-top: 70px;
}

.select:hover {
    opacity: 1;
}

.row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardTitle {
    font-size: 24px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.lizard {
    content:  url("../../assets/team-pics/lizards.jpg");
    width: 250px;
    height: 250px;
}

.wookiee {
    content:  url('../../assets/team-pics/chewbacca2.png');
    width: 250px;
    height: 250px;
}

.pug {
    content:  url('../../assets/team-pics/pugs.jpg');
    width: 250px;
    height: 250px;
}

.monkey {
    content:  url('../../assets/team-pics/monkey.jpg');
    width: 250px;
    height: 250px;
}

.charlie {
    content:  url('../../assets/team-pics/charlie.jpg');
    width: 250px;
    height: 250px;
}

.lobster {
    content:  url('../../assets/team-pics/lobster.png');
    width: 250px;
    height: 250px;
}

.roxy {
    content:  url('../../assets/team-pics/roxy.jpg');
    width: 250px;
    height: 250px;
}

.chingon {
    content:  url('../../assets/team-pics/chingon.jpg');
    width: 250px;
    height: 250px;
}

.foot {
    padding-bottom: 250px;
    background-color: #ececf0;
}